*{
  background-color: #fff;
}
.App {
  text-align: center;
}

.navbar{
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #BF181D;
}

.nav{
  background-color: #BF181D;
}
.navbar-brand{
  background-color: #BF181D;
  font-weight: bolder;
  display: inline-flex;

}

.logoName{
  display: flex;
  color: #fff;
  align-items: center;
  background-color: #BF181D;
 

}

.table-container{
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

img{
  background-color: #BF181D;

}

input{
  background-color: #BF181D;
}

